<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">


<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">

    {% block head %}
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        
        <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap ischool -->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'bootstrap.css')}}">



     <srcipt src="{{url_for('static',filename = 'scriptfinal.js')}}"></script>   

     <script src ="{{url_for('static',filename = 'bootstrap.js')}}"></script>


    

     
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="bootstrap/assets/ico/favicon.png">
    </head>
    {% endblock %}



<body>
{% block navigation %}

<div class="pageholder">

 <div class="masthead">
        <h3 class="muted">THE SUPERHERO DATABASE</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">


<li>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    LOGIN/LOGOUT <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href= "{{url_for('login')}}">LOGIN</a></li>
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
                <li><a href="{{url_for('register')}}">REGISTER</a></li>
  </ul>
</div> </li>

                
                <li><a href="{{url_for('home')}}">HOMEPAGE</a></li>

                <li><a href="{{url_for('allcharacters')}}">ALL CHARACTERS</a></li>
                <li><a href="{{url_for('allteams')}}">TEAMS</a></li>
                
                <li><a href="{{url_for('allcreators')}}">CREATORS</a></li>
                <li><a href="{{url_for('alluniverse')}}">UNIVERSE</a></li>
                 
                
                         
                          
                          {%if session.logged_in %}
                          <li> <h4><u><a href="">Welcome,{{ session.user }} </u></h4>
                            </li>
                          {% endif %}

  

                          
                          
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>



          
{% endblock %}

    <div id="content" class="maincontent">
        {% block content %}



        {% endblock %}
    </div>




</div>
    
</body>